
@{
    ViewBag.Title = "JsonIzpis";
}

<html>
<head>
    <title>Izpis</title>
    <style>
        body {
            background-color: #DAAD86;
            color: #659DBD;
            font-weight: bold;
        }
        h1 {
            text-align: center;
            margin-top: 15px;
        }
        code{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>JSON izpis</h1></br>
    <code>
        @ViewBag.Jsonrezultat
    </code>
</body>
</html>

