
@{
    ViewBag.Title = "About";
}
<html>
    <head>
        <meta charset="utf-8" />
        <style>
            body {
                background-color: #DAAD86;
                color: #659DBD;
                font-weight: bold;
            }
        </style>
    </head>
    <body>
        <h2>@ViewBag.Title.</h2>
        <h3>@ViewBag.Message</h3>

        <p>Use this area to provide additional information.</p>
    </body>

</html>
