@{ ViewBag.Title = "Home Page"; }
<html>
<head>
    <meta charset="utf-8" />
    <style>
        body {
            background-color: #DAAD86;
            color: #659DBD;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <div style="margin-top:15px;margin-bottom:50px;">
        <h1 style="text-align:center;color:navy;">SPLETNA APLIKACIJA</h1>
        <h2 style="text-align:center;">ZA PREDMET RAZVOJ PROGRAMSKIH APLIKACIJ</h2>
    </div>
    <p style="line-height:35px;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer viverra sem eget tellus mollis euismod. Praesent ut sapien nec quam placerat blandit. Nullam nec risus est. In ut orci in erat vestibulum lacinia ut non felis. Quisque id neque et erat commodo vestibulum. Vivamus sollicitudin hendrerit nulla at dapibus. Etiam nibh lorem, sagittis at egestas rhoncus, molestie a sapien. Donec pretium magna vitae mattis auctor. Fusce pellentesque tellus a leo rutrum porttitor. Vestibulum dictum, nunc nec porta convallis, nibh nibh ornare ex, eget euismod lacus lorem vel tortor. Proin cursus vehicula feugiat. Proin convallis nunc justo, sed fermentum leo feugiat sit amet.

    </p>
</body>
</html>
